@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #eaf0e7;
  --secondary-color: #c7d59f;
  --white: #f0f3ee;
  --black: #161616;
  --card-gradient-pink: linear-gradient(
    135deg,
    rgba(73, 139, 196, 1) 0%,
    rgba(232, 58, 162, 1) 100%
  );
  --card-gradient-orange: linear-gradient(
    135deg,
    rgba(253, 220, 106, 1) 0%,
    rgba(217, 56, 177, 1) 100%
  );
  --card-gradient-green: linear-gradient(
    135deg,
    rgba(180, 63, 216, 1) 0%,
    rgba(49, 232, 128, 1) 100%
  );
  --card-gradient-yellow: linear-gradient(
    135deg,
    rgb(23, 180, 185) 0%,
    rgba(237, 221, 83, 1) 100%
  );
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "poppins", sans-serif;
}

.bg-pink {
  background: var(--card-gradient-pink);
}

.bg-orange {
  background: var(--card-gradient-orange);
}

.bg-green {
  background: var(--card-gradient-green);
}

.bg-yellow {
  background: var(--card-gradient-yellow);
}

i {
  font-size: 4rem;
  color: var(--white);
  margin: 1rem;
}

header {
  margin-top: 5rem;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

.cards-container {
  padding: 8rem;
}

.cards {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.card {
  position: relative;
  height: 25rem;
  width: 18rem;
  perspective: 1000px;
  background-color: transparent;
}

.card h3 {
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.card p {
  font-size: 0.8rem;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s, box-shadow 0.8s;
  transform-style: preserve-3d;
  border-radius: 3px;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.card-front,
.card-back {
  box-sizing: border-box;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  padding: 2rem;
}

.card-front {
}

.card-back {
  transform: rotateY(180deg);
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

.color-button {
  margin-bottom: 1rem;
  padding: 0.7rem 2rem;
  background: var(--white);
  border: none;
  color: var(--black);
  border-radius: 3px;
  font-family: "poppins", sans-serif;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.color-button:hover {
  transform: scale(1.1);
}
